<div class="container mt-4">
    <div class="row d-flex justify-content-center">
        <div class="col-6">
            <form action="/create" method="post">
                <div class="mb-3">
                    <label for="name" class="form-label">Nombre</label>
                    <input type="text" class="form-control" name="name" id="name" placeholder="Nombre del taller">
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Descripción</label>
                    <textarea class="form-control" name="description" id="description" rows="3"></textarea>
                </div>
                <input type="submit" class="btn btn-primary" value="Enviar">
            </form>
        </div>
    </div>
</div>